<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <logik_settings>
            <general>
                <logik_url></logik_url>
                <logik_runtime_token></logik_runtime_token>
            </general>
        </logik_settings>
    </default>
</config> 