<?xml version="1.0" ?>
<!--
/**
 * Copyright &copy; Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- A Plugin that executes when the admin user places an order -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="admin-logik-settings-view" type="Logik\Integration\Plugin\SettingsView" disabled="false" sortOrder="0"/>
    </type>
    <type name="Logik\Integration\Controller\Adminhtml\SettingsPage\Save">
        <arguments>
            <argument name="integrationService" xsi:type="object">Magento\Integration\Api\IntegrationServiceInterface</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilder\Model\Config\ContentType\AdditionalData\Provider">
        <plugin name="logik_configurator_additional_data" type="Logik\Integration\Plugin\PageBuilder\AdditionalDataProvider" sortOrder="10"/>
    </type>
    <type name="Magento\PageBuilder\Model\Config\ContentType\AdditionalData\Provider">
        <arguments>
            <argument name="additionalData" xsi:type="array">
                <item name="logik_configurator" xsi:type="array">
                    <item name="label" xsi:type="string">Logik Configurator</item>
                    <item name="icon" xsi:type="string">icon-pagebuilder-text</item>
                    <item name="menu_section" xsi:type="string">general</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
