<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="logik" translate="label" sortOrder="100">
            <label>Logik</label>
        </tab>
        <section id="logik_settings" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Logik Settings</label>
            <tab>logik</tab>
            <resource>Logik_Integration::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="logik_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logik URL</label>
                </field>
                <field id="logik_runtime_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logik Runtime Token</label>
                </field>
                <field id="integration_token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Integration Token</label>
                    <frontend_model>Logik\Integration\Block\Adminhtml\Form\Field\IntegrationToken</frontend_model>
                    <comment>This is your integration token. Click the button to reveal it.</comment>
                </field>
            </group>
        </section>
    </system>
</config> 